@import url('https://fonts.googleapis.com/css?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(159, 165, 148);
}

.title {
    font-family: 'Redressed', cursive;
    color:rgb(44, 26, 26);
}

.journalForm {
    display: flex;
    flex-direction: column;
}

.journalForm__field {
    border:0;
    background-color: rgb(225, 226, 222);
}

.journalForm__field label {
    display: block;
}

#journalForm__field__concepts {
    width: 100%;
    min-width: 200px;
    max-width:400px;
}

#journalForm__field__entry {
    width: 100%;
    min-width: 200px;
    max-width:500px;
}

.journalForm_submit {
    max-width:200px;
    margin: .5em 0 0 2px;
    padding: .5em;
    font-size:1em;
    border:0;
    cursor: pointer;
    color:rgb(44, 26, 26);
}
.journalForm_submit:hover,
.journalForm_submit:focus {
    color:white;
    background: #0053ba;
}

.journalForm_submit:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
